*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff6433;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    /* height: 10vh; */
}
header h1{
    color: #ffffff;
    
    font-size: 40px;
    border: 5px solid #ffffff;
    border-radius: 32px ;
    display: inline-block;
    padding: 15px 10px;
}
.banner img{
    width: 100%;
}
.banner{
    position: relative;
}
.banner .me{
    position: absolute;
    left: 0;
    top: 45%;
    background-color: #febe14;
    padding: 20px 15px;
    color: #ffffff;
}
.banner span{
    font-size: 1.3cm;s
}
nav{
    background-color: #f4f4f4;
    width: 100px;
    
    margin: 0 auto;
    position: sticky;
    padding: 30px 0;
    top: 70px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    font-size: 20px;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li.join{
    color: #ff6433;
}
main{
    margin: 64px 0;
}
main h1{
    color: #f51717;
    text-align: center;
    font-size: 40px;
}
